

.following .pbSingleLineBlock{
    max-width: 50vw
}

.following ul, #following li {
    margin-left: 0.5em;
    list-style: disc;
}

.following input[type="number"] {
    color: var(--foreground);
    background-color: hsl(var(--card));
    border: 2px solid hsl(var(--border));
    border-radius: 8px;
    width: 5em;
    text-align: right;
}


.following-posts {
    flex: 1;
    height: 100%;
    overflow: auto;
}

#following-root {
    z-index: -90;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0px;

    display: flex;
    flex-direction: column;
    /*max-width: 76rem;*/
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
    overflow:hidden;
    padding-top: var(--top-bar-height);
}

.following-user-list {
    height: 33vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: .5em;
    padding-right: .5em;
}

.following-user-info {
    overflow:hidden;
    width:100%;
}

.following-user-and-ts {
    display: flex;
    flex-direction: row;
}

.following-user-and-ts .username {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.following-user-and-ts .timestamp {
    white-space: nowrap;
    flex-shrink: 0;
}

.spacer {
    display: none;
}

@media (min-width: 680px) {

    #following-root {
        flex-direction: row;
    }

    .following-user-list {
        max-width: 18rem;
        flex-grow: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .following-user-info {
        display: block;
    }

    .following-user-and-ts {
        flex-direction: column;
    }

}

@media (min-width: 1024px) {
    #following-root {

    }
    .following-user-list {
        max-width: 24rem;
    }
}

@media (min-width: 1280px) {
    .following-posts {
        min-width: 56rem;
    }

    .spacer {
        display: block;
        flex: 1 1 auto;
    }
}