@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --page-background: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 50%;
        --input: 240 5.9% 50%;

    --card-h: 0;
    --card-s: 0%;
    --card-l: 100%;
    --card-foreground: 240 10% 3.9%;

    --primary-h: 332;
    --primary-s: 54%;
    --primary-l: 33%;
    --primary-foreground: 0 0% 98%;

    --secondary-h: 213;
    --secondary-s: 37%;
    --secondary-l: 81%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 297 64% 28%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;

    --top-bar-height: 4rem;
  }

  .dark,
  [data-kb-theme="dark"] {
    --background: 240 10% 7%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 240 3.7% 33.9%;
    --input: 240 3.7% 15.9%;

    --card-h: 240;
    --card-s: 10%;
    --card-l: 13.9%;
    --card-foreground: 0 0% 98%;

    --primary-h: 332;
    --primary-s: 54%;
    --primary-l: 33%;
    --primary-foreground: 240 5.9% 98%;

    --secondary-h: 208;
    --secondary-s: 23%;
    --secondary-l: 32%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --success: 149 80% 90%;
    --success-foreground: 160 84% 39%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

:root{
    --primary: var(--primary-h) var(--primary-s) var(--primary-l);
    --card: var(--card-h) var(--card-s) var(--card-l);
    --secondary: var(--secondary-h) var(--secondary-s) var(--secondary-l);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

* {
    font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
    text-wrap: auto;
}
a {
    /*text-decoration: underline;*/
}

body {
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.facet-navigation-item svg {
    display: inline-block;
    margin-right: 0.7em;
}
.post-content p:not(:first-child) {
  margin-top: 1em;
}
.post-content p:not(:last-child) {
  margin-bottom: 1em;
}
.post-content * {
    overflow-wrap: anywhere;
    }
    
    .post-content a {
        text-decoration: underline;
}

.post-content ul, .post-content ul li {
    list-style: disc;
    margin-left: 1em;
}
.post-content ol, .post-content ol li  {
    list-style: decimal;
    margin-left: 1em;

}

.post-content h1 {
    font-size: x-large;
}
.post-content h2 {
    font-size: larger;
}
.post-content h3 {
    font-size: large;
}

#layoutColumnsRoot {
    display: grid;
    width: 100vw;
    height: 100%;

    max-width: 76rem;

    grid-template-columns: auto;
    /* The first grid item should only occupy the minimum height needed, it could be a user profile or maybe empty space */
        grid-template-rows: min-content auto;
    grid-auto-flow: columns;
    margin: auto;
    min-width: 0;
    min-height: 0;
}
#editorRoot {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
}

#editorEditor {
    grid-row: span 2;
}

#editorShareTarget {
    overflow: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    max-height: 50vh;
}
@media (min-width: 768px) {
    #layoutColumnsRoot {
        grid-template-columns: 18rem auto;
        /* The sidebar is shown so we want the single remaining row to take the full height */
            grid-template-rows: auto;
    }

    #layoutMainColumn {
        padding: 0.25rem;
    }
}

@media (min-width: 1024px) {
    #layoutMainColumn {
        padding: 0.5rem;
    }
}

@media (min-width: 1280px) {
    #layoutMainColumn {
        padding: 1.5rem;
    }
}
/* Singular left column that may contain blocks. Stacks above main column if the viewport is too narrow */
#layoutLeftColumn {

}

#layoutMainColumn {
    display: flex;
    flex-direction: column;
}

#layoutTopBar {
    height: var(--top-bar-height)

}

#root {
    overflow-wrap: anywhere;
}

button {
    overflow-wrap: normal;
    color: hsl(var(--button-foreground));
    background-color: hsl(var(--button));

}

#notifications-facet {
    display: grid;
    width: 100%;

    padding: 0.5rem;

    grid-template-columns: auto;
    grid-template-rows: repeat(auto);
    grid-auto-flow: columns;
    row-gap: 0.5rem;
    overflow: hidden;
    margin: auto;

}

#notifications-facet .pbCard {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#notifications-facet .pbCard>a {
    text-decoration: underline;
    margin-inline: 0.2em;
}

/* Generic card element for pillbug. This is some kind of rectangle that holds stuff. Doesn't define padding. */
.pbCard {
    border-color: hsl(var(--border));
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));
    border-radius: var(--radius);

    overflow: hidden;
    text-overflow: ellipsis;
}

/* When used inside of a pbCard, ends after one line */
.pbSingleLineBlock {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pbSingleLineBlock * {
    text-wrap: nowrap;
}

.pbPostEditor {
    min-height: 5em;
}

#editorRoot .pbPostEditor {
    min-height: 50vh;
}

summary::marker {
    line-height: auto;
}

html.setting-alignColumnsLeft #layoutColumnsRoot {
    margin-left: 0px;
}

html.setting-unlimitedColumnWidth #layoutColumnsRoot {
    max-width: unset;
}

.pbPostOutside {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: max-content;
    word-break: break-word;
    word-wrap: break-word;
}

.pbPostHeightLimiter{
    overflow: hidden;
    max-height: 60vh;
    /*max-height: 70vh;*/
}

.pbInput {
    color: var(--foreground);
    background-color: hsl(var(--card));
    border: 2px solid hsl(var(--foreground));
    border-radius: 8px;
    padding: 0.45em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.postLabel {
    color: var(--foreground);
    display: inline-block;
    background-color: hsl(var(--card));
    border: 2px solid hsl(var(--border));
    border-radius: 8px;
    padding: 0.45em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.25em;
}

.hoverAccentBorder:hover {
    border-color: hsl(var(--accent));
}

.redButton {
    color: hsl(var(--destructive-foreground));
    background-color: hsl(var(--destructive));
}

.debugStatusMessage {
    font-size: x-small;

}

.pbButtonPrimary {
    color: hsl(var(--primary-foreground));
    background-color: hsl(var(--primary));
}

.not-setting-flatAppearance {

    .pbButtonPrimary {
        background: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
        border-radius: 10px 10px 10px 10px;
        border: 1px solid hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * .5));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) calc(var(--primary-s) * 0.8) calc(var(--primary-l) * 0.8)),
            inset 0px 5px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.5)),

            inset 0px 2px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * .5));
    }
    .pbButtonPrimary:hover:not(.disabled) {
        background: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1)),
            inset 0px 5px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.7)),

            inset 0px 2px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
    }

    .pbButtonPrimary:active:not(.disabled),
    .pbButtonPrimary:focus:not(.disabled) 
     {
        background: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1)),
            inset 0px 3px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 0.9)),

            inset 0px 0px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
    }


    .pbCard {
        background: hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 1.0));
        margin: 2px 2px 8px 2px;
        border: 1px solid hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 0.9));

        box-shadow: 
            0px 3px 2px hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 0.9)),
            inset 0px -9px 20px hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 0.85));
    }

    .pbCardSecondary {
        color: hsl(var(--secondary-foreground));
        background: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 1.0));
        margin: 2px 2px 8px 2px;
        border: 1px solid hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.9));

        box-shadow: 
            0px 3px 2px hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.9)),
            inset 0px -9px 20px hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.85));
    }

    .pbInput {
        background: hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 0.8));
        margin: 2px 2px 8px 2px;
        border: 1px solid hsl(var(--card-h) var(--card-s) calc(100% - var(--card-l)));

        box-shadow: 
            0px 3px 2px hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 0.9)),
            inset 0px 0px 20px hsl(var(--card-h) var(--card-s) calc(var(--card-l) * 1));

    }

    .facet-navigation-item {
        color: hsl(var(--primary-foreground));
        background: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
        border-radius: 10px 10px 10px 10px;
        border: 1px solid hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * .5));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) calc(var(--primary-s) * 0.8) calc(var(--primary-l) * 0.8)),
            inset 0px 5px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.5)),

            inset 0px 2px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * .5));
    }
    .facet-navigation-item:hover:not(.disabled) {
        background: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1)),
            inset 0px 5px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.7)),

            inset 0px 2px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
    }

    .facet-navigation-item:active:not(.disabled),
    .facet-navigation-item:focus:not(.disabled),
    .active-facet
     {
        background: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
        box-shadow: 
            0px 3px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.1)),
            inset 0px 3px 2px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 0.9)),

            inset 0px 0px 20px hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1));
    }

    .pbTopBar {
        color: hsl(var(--secondary-foreground));
        background: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.5);
        border: 1px solid hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.9));

        box-shadow: 
            0px 3px 2px hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.9)),
            inset 0px -9px 20px hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.85));
        backdrop-filter: blur(8px);
    }

}